<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nb.shiro.mapper.SysAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nb.shiro.entity.SysArea">
        <id column="id" property="id" />
        <result column="full_name" property="fullName" />
        <result column="parent_id" property="parentId" />
        <result column="short_name" property="shortName" />
        <result column="level" property="level" />
        <result column="city_code" property="cityCode" />
        <result column="zip_code" property="zipCode" />
        <result column="merger_name" property="mergerName" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="pinyin" property="pinyin" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, full_name, parent_id, short_name, level, city_code, zip_code, merger_name, lng, lat, pinyin, create_time, update_time
    </sql>

    
    <select id="findIndexList" resultType="com.nb.shiro.beans.VO.AreaIndexVO">
        select id id,full_name fullName , left(pinyin,1) pinyin  from sys_area where level =2 and id not in(419000,429000,469000,659000)  order by left(pinyin,1)
    </select>
</mapper>
