<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nb.shiro.mapper.SysDepartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nb.shiro.entity.SysDepart">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="depart_name" property="departName" />
        <result column="depart_name_en" property="departNameEn" />
        <result column="depart_name_abbr" property="departNameAbbr" />
        <result column="depart_order" property="departOrder" />
        <result column="description" property="description" />
        <result column="org_category" property="orgCategory" />
        <result column="org_type" property="orgType" />
        <result column="org_code" property="orgCode" />
        <result column="mobile" property="mobile" />
        <result column="fax" property="fax" />
        <result column="address" property="address" />
        <result column="memo" property="memo" />
        <result column="status" property="status" />
        <result column="del_flag" property="delFlag" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, depart_name, depart_name_en, depart_name_abbr, depart_order, description, org_category, org_type, org_code, mobile, fax, address, memo, status, del_flag, create_by, create_time, update_by, update_time
    </sql>

</mapper>
