<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nb.shiro.mapper.SysPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nb.shiro.entity.SysPermission">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="path" property="path" />
        <result column="component" property="component" />
        <result column="menu_type" property="menuType" />
        <result column="perms" property="perms" />
        <result column="sort_no" property="sortNo" />
        <result column="icon" property="icon" />
        <result column="is_leaf" property="isLeaf" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, name, path, component,menu_type, perms, sort_no, icon, is_leaf,  del_flag
    </sql>



    <select id="findMenuNodeListByParentId" parameterType="String" resultType="com.nb.shiro.model.vo.MenuNode">
        select
        id id,
        `name` `name`,
        path path,
        component component,
        is_leaf isLeaf
        from sys_permission
        where
              parent_id = #{parentId} and menu_type in(0,1)
    </select>

    <select id="findUserTopMenuNodeList" parameterType="String" resultType="com.nb.shiro.model.vo.MenuNode">
     select
        id id,
        `name` `name`,
        path path,
        component component,
        is_leaf isLeaf
    from
        sys_permission
    where
        id in ( select distinct t2.permission_id
                from sys_user_role t1 join sys_role_permission t2 on t1.role_id = t2.role_id
                where t1.user_id=#{userId}
                )
        and ( parent_id ='' or parent_id is null ) and menu_type=0 order by sort_no
    </select>


    <select id="getUserShiroPermissions" parameterType="String" resultType="String">
        select
            t3.perms
        from
            sys_user_role t1
            left join sys_role_permission t2 on t1.role_id=t2.role_id
            left join sys_permission t3 on t2.permission_id=t3.id
        where t1.user_id = #{userId} and del_flag=0 and menu_type=2
    </select>
</mapper>
