<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nb.shiro.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nb.shiro.entity.SysUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="realname" property="realname" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="avatar" property="avatar" />
        <result column="birthday" property="birthday" />
        <result column="sex" property="sex" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="org_code" property="orgCode" />
        <result column="status" property="status" />
        <result column="del_flag" property="delFlag" />
        <result column="work_no" property="workNo" />
        <result column="post" property="post" />
        <result column="telephone" property="telephone" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="user_identity" property="userIdentity" />
        <result column="depart_ids" property="departIds" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, realname, password, salt, avatar, birthday, sex, email, phone, org_code, status, del_flag, work_no, post, telephone, create_by, create_time, update_by, update_time, user_identity, depart_ids
    </sql>
    
    
    <select id="findUserPageListByRoleId" resultMap="BaseResultMap">
       select
        <include refid="Base_Column_List"/>
        from
        (select user_id from sys_user_role where role_id=#{roleId} )t1
        join sys_user t2 on t1.user_id=t2.id
        <where>
            t2.del_flag=0
            <if test="username!=null and username!=''">
              and  t2.username = #{username}
            </if>
        </where>
            order by t2.create_time desc
    </select>

</mapper>
